# Enable mod_rewrite for URL rewriting and redirection
RewriteEngine On 
RewriteBase /apiticket
# If request is not an existing file
RewriteCond %{REQUEST_FILENAME} !-f
# Route all requests to index.php, preserving query string
RewriteRule ^ index.php [QSA,L]